## Import Dependencies

In [ ]:
# List of external libraries used:
# pandas: https://pandas.pydata.org
# numpy: https://numpy.org
# matplotlub: https://matplotlib.org
# sklearn: https://scikit-learn.org

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import KFold
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay, precision_score, recall_score, accuracy_score, f1_score
from sklearn import mixture
from sklearn import svm

from tensorflow.keras import regularizers, initializers, optimizers, callbacks
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.preprocessing.text import Tokenizer
from keras.utils.np_utils import to_categorical
from tensorflow.keras.layers import *
from tensorflow.keras.models import Model
from tensorflow.keras.utils import plot_model

# Preprocessing:

### Load the dataset

In [38]:
dataset = []

for i in range(600):
    with open("data/" + f"{i+1:03}" + "/" + f"{i+1:03}" + ".json") as jsonFile:
        jsonData = json.load(jsonFile)['frames']
        for frame in jsonData:
            record = {}

            record['frame'] = frame
            record['arousal'] = jsonData[frame]['arousal']
            record['valence'] = jsonData[frame]['valence']
            record['landmarks'] = jsonData[frame]['landmarks']

            dataset.append(record)
dataset = pd.DataFrame(dataset)
dataset

,frame,arousal,valence,landmarks
0,00000,5.0,0.0,"[[181.4181259729673, 170.1050112037773], [181...."
1,00001,5.0,0.0,"[[181.3328641571337, 166.90993600707972], [181..."
2,00002,5.0,0.0,"[[178.26485481108307, 171.62269560474016], [17..."
3,00003,5.0,0.0,"[[175.16685537636192, 171.49960180139846], [17..."
4,00004,5.0,0.0,"[[176.2476316924445, 166.90324891245803], [175..."
...,...,...,...,...
30046,00042,5.0,-1.0,"[[328.2910405443453, 191.22887899775674], [333..."
30047,00043,5.0,-1.0,"[[327.9702636469936, 184.8430668214334], [328...."
30048,00044,5.0,-1.0,"[[329.6582591097338, 186.84070832095395], [331..."
30049,00045,5.0,-1.0,"[[335.89389019381457, 186.45180451116119], [33..."
30050,00046,5.0,-1.0,"[[333.01370114323544, 183.19846735352053], [32..."

In [ ]:
dataset['arousal']

# Haar Cascades/ Landmark detection